.main{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}
.nav{
    margin-left: 10% ;
    height: 55px;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 2%;
    box-shadow: 0 0 10px #ccc;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 13px;
}
.bav image {
     object-fit: contain;

}

.nav_link{
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    /* justify-content: start; */
    align-items: center;
}
.nav_search{
    border: 3px  gray solid; ;
    border-radius: 8px;
     background-color:#F2F2F2;
}

.nav_search input{
   border: none;
   padding: 10px;
   /* background-color: aquamarines; */

}
.nav_search button{
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 5px;
    margin-right: 1.5px; 
    color: #F2F2F2

}
.nav_search input:focus{
    outline: none;
}


.heading{

    color: black;
    font-size: larger;
    
}
.Card{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
}